<template>
  <div id="app">
    
    <el-row>
      <el-col :span="24">
        <span class="admin">Hi Regan</span>
      </el-col>
    </el-row>
    <el-container>
      <el-aside width="200px">
        <el-menu
          background-color="#545c64"
          text-color="#fff"
          active-text-color="#ffd04b">
          <el-menu-item index="1" v-on:click="router(1)">
            <i class="el-icon-menu"></i>
            <span slot="title">首页购买</span>
          </el-menu-item>
          <el-menu-item index="2" v-on:click="router(2)">
            <i class="el-icon-document"></i>
            <span slot="title">订单查询</span>
          </el-menu-item>
          <el-menu-item index="3" v-on:click="router(3)">
            <i class="el-icon-setting"></i>
            <span slot="title">退单处理</span>
          </el-menu-item>
          <el-menu-item index="4" v-on:click="router(4)">
            <i class="el-icon-search"></i>
            <span slot="title">账务查询</span>
          </el-menu-item>
        </el-menu>
      </el-aside>
      <el-main>
        <router-view/>
      </el-main>
    </el-container>
  </div>
</template>

<script>
export default {
  name: 'App',
  methods: {
    onSubmit() {
      console.log('submit!');
    },
    router(state){
      if(state === 1){
        this.$router.push('/');
      }else if(state === 2){
        this.$router.push('/search');
      }else if(state === 3){
        this.$router.push('/chargeback');
      }else{
        this.$router.push('/accounting');
      }
    }
  }
}
</script>

<style>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    margin-top: 10px;
  }
  .el-row {
    height : 50px;
    background-color: #D3DCE6;
  }
  .admin {
    height : 50px;
    float : left;
    margin-left : 62px;
    line-height: 50px;
    font-size: 20px;
  }
  .el-menu {
    min-height : 50rem;
  }
</style>
