<template>
  
  <div>
    <div>
      <el-select v-model="cellerName" placeholder="选择用户">
        <el-option
          v-for="item in cellerOptions"
          :key="item._id"
          :label="item.name"
          :value="item.name">
        </el-option>
      </el-select>
    </div>
    
    <div class="datapick">
      <el-date-picker
        v-model="date"
        type="monthrange"
        range-separator="至"
        start-placeholder="开始月份"
        end-placeholder="结束月份">
      </el-date-picker>
      <el-button type="primary" @click='search'>Search</el-button>
    </div>
    <div class = 'accountList'>
      <el-table
        :data="tableData"
        style="width: 100%">
        <el-table-column
          prop="cellerName"
          label="用户"
          width="180">
        </el-table-column>
        <el-table-column
          prop="performance"
          label="总业绩"
          width="180">
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'HelloWorld',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      cellerName: '',
      date : '',
      cellerOptions: [],
      tableData: [],
      performance : ''
    }
  },
  methods : {
    search(){
      var self = this;
      console.log("search");
      console.log("this.celler : " + this.cellerName);
      console.log("startTime : " + this.date[0].getTime());
      console.log("endTime : " + this.date[1].getTime());
      axios
        .post('/api',{
          action : 'account',
          start : this.date[0].getTime(),
          end : this.date[1].getTime(),
          sellerName : this.cellerName
        })
        .then(function(response){
          self.tableData = [
            {
              cellerName : self.cellerName, 
              performance : response.data.performance
            }
          ];
        })
        .catch(function(err){
          console.log(err);
        })
    }
  },
  mounted () {
    var self = this;
    axios
      .post('/api', {
        action : 'cellerList'
      })
      .then(function(res){
        var obj = {
          _id : '000',
          name : 'All',
        };
        var result = res.data;
        result.unshift(obj);
        self.cellerOptions = result;
      })
      .catch(function(err){
        //console.log('err : ' + err);
      })
  } 
}
</script>

<style scoped>
a {
  color: #42b983;
}
.datapick{
  margin-top : 20px;
}
.accountList {
  margin-top : 20px;
}




</style>
