<template>
  
  <div>
    <el-container>
      <el-main>
        <div>
          <el-form ref="form">
            <el-form-item label="订单号">
              <el-input
                placeholder="订单号"
                suffix-icon="el-icon-date"
                v-model="orderId" type='text'>
              </el-input>
              <el-button type="primary" @click="search">Search</el-button>
            </el-form-item>
          </el-form>

        </div>
        <div v-show="sarchSuccess">
          <el-form ref="form">
            <el-form-item label="产品名">
              <el-input
                placeholder="产品名"
                suffix-icon="el-icon-date"
                :disabled="true"
                v-model="productName">
              </el-input>
            </el-form-item>
            <el-form-item label="购买数">
              <el-input
                placeholder="已购买数量"
                suffix-icon="el-icon-date"
                :disabled="true"
                v-model="count" type='number'>
              </el-input>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="chargeback">申请退货</el-button>
            </el-form-item>
          </el-form>
          
        </div>
        <div v-show="confim">
          <el-form ref="form" label-width="80px">
            <el-form-item label="退货数量">
              <el-input
                placeholder="退货数量"
                suffix-icon="el-icon-date"
                v-model="chargebackNo" type='number'>
              </el-input>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="onSubmit">确认</el-button>
            </el-form-item>
          </el-form>
        </div>
      </el-main>
    </el-container>
  </div>
</template>

<script>
//5d3809616de9f92b802ffa54
import axios from 'axios'
export default {
  name: 'HelloWorld',
  data () {
    return {
      msg: 'Welcome to Regan Vue.js App',
      value1: '',
      orderId : '',
      productName : '',
      count : 0,
      chargebackNo : '',
      confim : false,
      sarchSuccess : false,
      order : {},
    }
  },
  methods: {
    search(){
      if(this.orderId.length < 1){
        return;
      }
      var orderId = this.orderId;
      console.log("orderId : " + this.orderId);
      var obj = {
        action : 'orderById',
        orderId : this.orderId
      };
      var self = this;
      axios
        .post('/api', obj)
        .then(function(response){
          if(response.data){
            self.productName = response.data.productName;
            self.count = response.data.count;
            self.sarchSuccess = true;
            self.order = response.data;
          }
        })
        .catch(function(error){
          alert(error);
        })
    },
    chargeback(){
      console.log('chargeback');
      this.confim = true;
    },
    onSubmit() {
      var self = this;
      console.log("this.chargebackNo : " + this.chargebackNo);
      console.log("this.price : " + this.order.price);
      console.log("");
      if(this.orderId){
        if(this.chargebackNo <= this.count){
          console.log("this.order : " + JSON.stringify(this.order));
          var obj = {
            action : 'createOrder',
            cellerId : this.order.cellerId,
            productId : this.order.productId,
            count : 0 - this.chargebackNo,
            totalMoney : (0 - this.chargebackNo) * (this.order.price),
            type : 0,
            productName : this.productName,
            orderId : this.orderId
          };
          axios
            .post('/api', obj)
            .then(function(response){
              if(response.data){
                alert("退货成功！！！");
                self.count = self.count - self.chargebackNo;
              }
            })
            .catch(function(error){
              alert(error);
            })
        }else{
          alert("退货数量过大！");
        }
      }else{
        alert("请输入订单号！");
      }
    },
  }
}
</script>


<style scoped>
a {
  color: #42b983;
}
.el-main {
  background-color: #E9EEF3;
  color: #333;
  line-height: 160px;
  min-height: 100%;
  width : 100%;
}
.el-input{
  width : 400px;
}
.el-icon-search{
  margin-left : 50px;
  width : 10px;
}
</style>
