<template>
  
  <div class = "buy">
    <el-container>
      <el-main>
        <el-form ref="form" label-width="80px">
          <el-form-item label="业务人员">
            <el-select v-model="selectCell" @change="selectCeller"
            placeholder="业务人员">
              <el-option
                v-for="item in cellerOptions"
                :key="item._id"
                :label="item.name"
                :value="item.name">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="商品选择">
            <el-select v-model="selectProduct" @change="selectPro"
            placeholder="请选择商品">
              <el-option
                v-for="item in options"
                :key="item._id"
                :label="item.productName"
                :value="item.productName">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="商品单价">
            <el-input
              placeholder="单价"
              v-model="inputPrice"
              :disabled="true">
            </el-input>
          </el-form-item>
          <el-form-item label="购买数量">
            <el-input
              placeholder="购买数量"
              suffix-icon="el-icon-date"
              @change='inputCount'
              v-model="inputTotal" type='Number'>
            </el-input>
          </el-form-item>
          <el-form-item label="商品总价">
            <el-input
              placeholder="总价"
              v-model="inputTotalPrice"
              :disabled="true">
            </el-input>
          </el-form-item>
          <el-form-item label="手机号">
            <el-input
              placeholder="手机号"
              suffix-icon="el-icon-date"
              v-model="inputNumber" type='Number'>
            </el-input>
          </el-form-item>
          <el-form-item label="收货人">
            <el-input
              placeholder="收货人姓名"
              v-model="inputName">
            </el-input>
          </el-form-item>
          <el-form-item label="配送地址">
            <el-input class = "address" type="textarea" v-model="inputAddr"></el-input>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="onSubmit">立即购买</el-button>
          </el-form-item>
        </el-form>
      </el-main>
    </el-container>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'HelloWorld',
  data () {
    return {
      msg: 'Welcome to Regan Vue.js App',
      inputTotal : 0,
      inputPrice : '0',
      inputTotalPrice : '',
      inputNumber : '',
      inputName : '',
      inputAddr : '',
      product : {},
      options : '',
      selectProduct : '',
      cellerOptions : '',
      cellerId : '',
      selectCell : ''
    }
  },
  methods: {
    onSubmit() {
      if(this.inputTotal < 1){
        return;
      }
      if(this.selectProduct.length < 1){
        return;
      }
      if(this.selectCell.length < 1){
        return;
      }
      console.log('submit!');
      var obj = {
        action : 'createOrder',
        cellerId : this.cellerId,
        productId : this.product._id,
        count : this.inputTotal,
        totalMoney : this.inputTotalPrice,
        type : 0,
        productName : this.selectProduct
      };
      axios
        .post('/api', obj)
        .then(function(response){
          alert("success1")
        })
        .catch(function(error){
          alert(error);
        })
    },
    selectPro(event, item){
      console.log("event : " + JSON.stringify(event));
      console.log("this.options :" + JSON.stringify(this.options))
      var optionArr = this.options;
      for(var i=0; i<optionArr.length; i++){
        if(optionArr[i].productName == event){
          this.inputPrice = optionArr[i].price;
          this.product = optionArr[i];
          this.selectProduct = this.product.productName;
          this.inputTotalPrice = this.inputPrice * this.inputTotal;
        }
      }
    },
    selectCeller(event){
      var cellerArr = this.cellerOptions;
      for(var i=0; i<cellerArr.length; i++){
        if(cellerArr[i].name === event){
          this.cellerId = cellerArr[i]._id;
        }
      }
    },
    inputCount(event, item){
      this.inputTotalPrice = this.inputPrice * event;
    }
  },
  mounted () {
    var self = this;

    axios
      .post('/api', {
        action : 'productList'
      })
      .then(function(response){
        console.log("productList : " + JSON.stringify(response));
        self.options = response.data;
        axios
          .post('/api', {
            action : 'cellerList'
          })
          .then(function(res){
            self.cellerOptions = res.data;
          })
          .catch(function(err){
            console.log('err : ' + err);
          })
        })
      .catch(function(error){
        console.log('err : ' + error);
      })
    
  } 
}
</script>

<style scoped>
a {
  color: #42b983;
}
<style>
  .buy {
    min-height : 50rem;
  }
  .el-main {
    background-color: #E9EEF3;
    color: #333;
    line-height: 160px;
    min-height: 100%;
    width : 100%;
  }
  
  body > .el-container {
    margin-bottom: 40px;
    height : 50rem;
  }
  
  .el-container:nth-child(5) .el-aside,
  .el-container:nth-child(6) .el-aside {
    line-height: 260px;
  }
  
  .el-container:nth-child(7) .el-aside {
    line-height: 320px;
  }
  .el-row {
    height : 50px;
    background-color: #D3DCE6;
  }
  .el-col {
    border-radius: 4px;
  }
  .admin {
    height : 50px;
    float : left;
    margin-left : 62px;
    line-height: 50px;
    font-size: 20px;
  }
  .el-input{
    width : 200px;
  }
  .address {
    width : 50%;
    height : 100px;
  }
</style>
</style>
