<template>
  
  <div>
    <div>
      <el-date-picker
        v-model="startEnd"
        type="daterange"
        range-separator="至"
        start-placeholder="开始日期"
        end-placeholder="结束日期">
      </el-date-picker>
      <el-button type="primary" @click="onSubmit">Search</el-button>
    </div>
    <div class = 'orderList'>
      <el-table
        :data="tableData"
        style="width: 100%">
        <el-table-column
          prop="time"
          label="日期"
          width="180">
        </el-table-column>
        <el-table-column
          prop="productName"
          label="产品"
          width="180">
        </el-table-column>
        <el-table-column
          prop="count"
          label="数量"
          width="180">
        </el-table-column>
        <el-table-column
          prop="orderId"
          label="订单号">
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'HelloWorld',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      startEnd: '',
      tableData: []
    }
  },
  methods: {

    onSubmit() {
    var self = this;
      console.log("time :" + JSON.stringify(this.startEnd))
      if(this.startEnd.length < 1){
        return;
      }
      
      var start = this.startEnd[0];
      var end = this.startEnd[1];
      var obj = {
        action : 'orderByTime',
        startTime : start.getTime(),
        endTime : end.getTime()
      }
      axios
        .post('/api', obj)
        .then(function(response){
          console.log("response : " + JSON.stringify(response));
          self.tableData = response.data;
          console.log(" self.table " + JSON.stringify(self.tableData));
        })
        .catch(function(error){
          console.log('err : ' + error);
        })
        
    }

  }
}
</script>

<style scoped>
a {
  color: #42b983;
}
.orderList{
  margin-top : 50px;
}
</style>
